
/TestModules/TestModules/SYSLOG/
/TestModules/TestModules/libmysql.dll
/server_GameServer/GameServer/libmysql.dll
/server_GameServer/GameServer/SYSLOG


/server_GameServer/.vs
/server_GameServer/x64/Config
/server_GameServer/x64
/server_GameServer/GameServer/x64
/server_GameServer/GameServer/Release
/server_GameServer/GameServer/Debug
/server_GameServer/Config


/TestModules/.vs
/TestModules/x64
/TestModules/TestModules/x64
/TestModules/Debug/
/TestModules/Release/
/TestModules/TestModules/Debug/
/TestModules/TestModules/Release/ 
/TestModules/TestModules/include
/TestModules/TestModules/lib

/Core/.vs/
/Core/x64/
/Core/Core/x64/
/Core/Core/Config/
/Core/Core/x64/Config/
/Core/Debug/
/Core/Release/
/Core/Core/Debug/
/Core/Core/Release/

/NetLibrary/.vs/
/NetLibrary/x64/
/NetLibrary/NetLibrary/x64/
/NetLibrary/NetLibrary/Config/
/NetLibrary/NetLibrary/x64/Config/
/NetLibrary/Debug/
/NetLibrary/Release/
/NetLibrary/NetLibrary/Debug/
/NetLibrary/NetLibrary/Release/

/server_ChatServer_Multi/.vs
/server_ChatServer_Multi/ChatSever_Multi.slnLaunch.user
/server_ChatServer_Multi/x64/
/server_ChatServer_Multi/x64/Config
/server_ChatServer_Multi/Debug/
/server_ChatServer_Multi/Release/
/server_ChatServer_Multi/Config/
/server_ChatServer_Multi/ChatServer_Multi/x64
/server_ChatServer_Multi/ChatServer_Multi/Debug
/server_ChatServer_Multi/ChatServer_Multi/Release
/server_ChatServer_Multi/ChatServer_Multi/SYSLOG

/server_LoginServer/.vs
/server_LoginServer/x64/
/server_LoginServer/x64/Config/
/server_LoginServer/Debug/
/server_LoginServer/Release/
/server_LoginServer/Config/
/server_LoginServer/LoginServer/x64
/server_LoginServer/LoginServer/Debug
/server_LoginServer/LoginServer/Release
/server_LoginServer/LoginServer/SYSLOG

/server_ZoneServerEchoTest/.vs
/server_ZoneServerEchoTest/x64/
/server_ZoneServerEchoTest/x64/Config/
/server_ZoneServerEchoTest/Debug/
/server_ZoneServerEchoTest/Release/
/server_ZoneServerEchoTest/Config/
/server_ZoneServerEchoTest/ZoneServerEchoTest/x64
/server_ZoneServerEchoTest/ZoneServerEchoTest/Debug
/server_ZoneServerEchoTest/ZoneServerEchoTest/Release
/server_ZoneServerEchoTest/ZoneServerEchoTest/SYSLOG

/server_MonitoringServer/.vs
/server_MonitoringServer/x64
/server_MonitoringServer/x64/Config
/server_MonitoringServer/Debug
/server_MonitoringServer/Release
/server_MonitoringServer/Config/
/server_MonitoringServer/NetLib/x64
/server_MonitoringServer/NetLib/Debug
/server_MonitoringServer/NetLib/Release
/server_MonitoringServer/NetLib/Log_NetLib